<form id="form" action="./api/check" method="post">
    <div>
        <input type="text" name="name" placeholder="Имя" id="name" />
    </div>
    <div style="margin-top: 10px;">
        <input id="file" type="file" name="photo">
    </div>
    <div style="margin-top: 10px;"> 
        <input type="submit" value="Отправить" />
    </div>
</form>

<ul class="lll">
  
</ul>

<form id="formGET" action="./api/get-check/" method="get">
    <div style="margin-top: 10px;">
        <input id="task_id" type="text" name="task_id" disabled>
    </div>
    <div style="margin-top: 10px;"> 
        <input type="submit" value="Отправить" />
    </div>
</form>
<div>wait</div>
<ul class="wait">
  
</ul>

<div>success</div>
<ul class="success">
  
</ul>

<div>not found</div>
<ul class="not">
  
</ul>

<script src="https://code.jquery.com/jquery-3.5.0.js"></script>

<script type="text/javascript">
    var frm = $('#form');

    frm.submit(function (e) {
  
        e.preventDefault();

        var data = new FormData(frm[0]);
        // result, status, retry_id
        if( !$('#file').val() ) {
            alert('Загрузите фото');
            return;
        }
        if( !$('#name').val() ) {
            alert('Заполните имя');
            return;
        }
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                if(data.status === 'success') {
                    //$('.lll').append(`<li>${data.result} ${data.status}</li>`);
                    $('.lll').append('<li>Результат готов</li>');
                }
                if(data.status === 'ready') {
                    $('.lll').append('<li>Была выполнена</li>');
                }
                if(data.status === 'wait') {
                $('.lll').append('<li>Требуется время</li>');
                    $('#task_id').val(data.retry_id)
                }
            },
            error: function (data) {
            },
        });
    });
</script>

<script type="text/javascript">
    var formGET = $('#formGET');

    formGET.submit(function (e) {
  
        e.preventDefault();

        const taskId = $('#task_id').val()

        $.ajax({
            type: formGET.attr('method'),
            url: formGET.attr('action')+taskId,
            success: function (data) {
                console.log(data);
                if(data.status === 'success') {
                    //$('.success').append(`<li>${data.result} ${data.status}</li>`);
                    $('.success').append('<li>Результат готов</li>');
                }
                if(data.status === 'wait') {
                    //$('.wait').append(`<li>${data.retry_id} ${data.status}</li>`);
                    $('.wait').append('<li>Результат еще не готов</li>');
                }
                if(data.status === 'not_found') {
                    $('.not').append('<li>Задача с таким номером не найдена </li>');
                }
                if(data.status === 'error') {
                    $('.not').append('<li>Задача с таким номером не найдена </li>');
                }
            },
            error: function (data) {
            },
        });
    });
</script>
